.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #ccc;
  height: 65px;
  background-color: white;
}

.header.register-header {
  background-image: url('/register/register_back.svg');
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #000000 !important;
}
  
.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-link.active {
  color: green;
}

.nav-link:hover {
  color: green;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #1f7a1f;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15x;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #155e15;
}

.btn-outline {
  border: 1px solid green;
  color: green;
  background-color: white;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline:hover {
  background-color: #299029;
  color: white;
}
.avatar {
  width: 40px;
  height: 40px;
  background-color: #2e8b57;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 18px;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logout-btn {
  background: transparent;
  border: 1px solid #2e8b57;
  color: #2e8b57;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #2e8b57;
  color: white;
}

  /* Tablet (<=1024px) */
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
  }

  .nav {
    flex-wrap: wrap;
    gap: 12px;
  }

  .auth-buttons {
    flex-wrap: wrap;
    gap: 8px;
  }
  .avatar {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    font-size: 10px;
  }
}

/* Mobile (<=768px) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .auth-buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .btn-primary,
  .btn-outline {
    width: 90%;
    text-align: center;
  }
  .avatar {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    font-size: 8px;
  }
}
