.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #ccc;
  height: 65px;
  background-color: white;
}

.header.register-header {
  background-image: url('/register/register_back.svg');
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #000000 !important;
}
  
.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-link.active {
  color: green;
}

.nav-link:hover {
  color: green;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: #1f7a1f;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15x;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #155e15;
}

.btn-outline {
  border: 1px solid green;
  color: green;
  background-color: white;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline:hover {
  background-color: #299029;
  color: white;
}
  
  /* Tablet (<=1024px) */
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
  }

  .nav {
    flex-wrap: wrap;
    gap: 12px;
  }

  .auth-buttons {
    flex-wrap: wrap;
    gap: 8px;
  }

}

/* Mobile (<=768px) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .auth-buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .btn-primary,
  .btn-outline {
    width: 90%;
    text-align: center;
  }

}
