.main {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  min-height: calc(100vh - 132.4px);
}

.leftSide {
  padding: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.leftSide h1 {
  font-size: 36px;
  margin-bottom: 24px;
  font-weight: bold;
}

.leftSide p {
  font-size: 18px;
  margin-bottom: 24px;
  color: #333;
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.btnPrimary {
  background-color: #1f7a1f;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s;
  margin: 15px;
}

.btnPrimary:hover {
  background-color: #155e15;
}

.btnOutline {
  border: 2px solid #1f7a1f;
  color: #1f7a1f;
  background-color: white;
  padding: 10px 22px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s;
  margin: 15px;

}

.btnOutline:hover {
  background-color: #1f7a1f;
  color: white;
}

.rightSide {
  background-color: #92d298;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature h2 {
  font-size: 32px;
  margin-bottom: 8px;
  margin-left: 50px;
}

.feature p {
  font-size: 19px;
  color: #333;
  margin-bottom: 20px;
  margin-left: 50px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  padding: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }

  .leftSide, .rightSide {
    padding: 24px;
    text-align: center;
  }

  .leftSide h1 {
    font-size: 28px;
  }

  .leftSide p {
    font-size: 16px;
  }

  .feature h2 {
    font-size: 24px;
    margin-left: 0;
  }

  .feature p {
    font-size: 16px;
    margin-left: 0;
  }

  .image {
    width: 100%;
    height: auto;
    padding: 16px 0;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .btnPrimary,
  .btnOutline {
    width: 90%;
    margin: 0 auto;
  }
}

